*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY */

.hr-width{
    width: 20%;
}

.border{
    border: 1px solid grey;
}

li{
    padding: 10px;
    color: gray;
}

.color-grey{
    color: grey;
}

.bg-skyblue{
    background-color: lightskyblue;
}

.bg-black{
    background-color: black;
}

.d-flex{
    display: flex;
}

.text-center{
    text-align: center;
}

.margin-left-10{
    margin-left: 10px;
}

.margin-top{
    margin-top: 20px;
}

.margin-top-30{
    margin-top: 30px;
}

.margin-top-50{
    margin-top: 50px;
}

/* .height-500{
    height: 500px;
} */

/* HEADER */

header{
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 1;
    padding: 10px;
}

.row-header{
    width: 100%;
    display: flex;
}

.col-50{
    width: 50%;
    background-color: red;
    height: 50px;
    border: 1px solid black;
}

/* MAIN */

.container-1400{
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 50px;
}

.container-1200{
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

.container-full{
    width: 100%;
    margin: 0;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.row-full{
    width: 100%;
    display: flex;
}

.content{
    height: 200px;
    background-color: red;
    border: 1px solid black;
    display: flex;
}

.content-column{
    padding: 20px;
    margin: 10px;
}

.squares-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: 50%;
    height: calc(100vw / 6);
}

/* COLUMN */

.col-100{
    width: calc(100% - 20px);
}

.col-60{
    width: calc(60% - 20px);
}

.col-40{
    width: calc(40% - 20px);
}

.col-33{
    width: calc(100% / 3 - 20px);
}

.col-33-full{
    width: calc(100% / 3);
}

.col-20{
    width: calc(100% / 5 - 20px);
}

/* TEXT-FONT */

h1{
    font-size: 60px;
    padding: 30px;
} 

h2{
    font-size: 40px;
}

h3{
    font-size: 30px;
    padding: 10px;
}

h5{
    font-size: 20px;
}

p{
    font-size: 20px;
    padding: 10px;
}

.freccia{
    font-size: 50px;
}

/* ANIMATION */

.button-blue{
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
}

.button-grey{
    background-color: white;
    padding: 10px;
    border: 1px solid gray;
    color: gray;
}


img{
    max-width: 100%;
}
