*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header{
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 1;
    padding: 10px;
}

.row-header{
    width: 100%;
    display: flex;
}

.col-50{
    width: 50%;
    background-color: red;
    height: 50px;
    border: 1px solid black;
}

/* MAIN */

.container-1400{
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px;
}

.container-1200{
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

.container-full{
    max-width: 100%;
    margin: 0;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.row-full{
    width: 100%;
    display: flex;
}

.content{
    height: 200px;
    background-color: red;
    border: 1px solid black;
    display: flex;
}

.col-100{
    width: calc(100% - 20px);
}

.col-60{
    width: calc(60% - 20px);
}

.col-40{
    width: calc(40% - 20px);
}

.col-33{
    width: calc(100% / 3 - 20px);
}

.col-33-full{
    width: 33%;
}

.col-20{
    width: calc(100% / 5 - 20px);
}

.bg-skyblue{
    background-color: lightskyblue;
}

.bg-black{
    background-color: black;
}

.d-flex{
    display: flex;
}

h1{
    font-size: 50px;
    text-align: center;
    padding: 30px;
} 

p{
    font-size: 20px;
}

.button-blue{
    background-color: blue;
    color: white;
    margin-top: 20px;
    padding: 10px;
    border: none;
    margin-bottom: 20px;
}

img{
    max-width: 100%;
}

.freccia{
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 50px;
}